@{
    ViewData["Title"] = "Home Page";
}

<h3 class="text-center text-primary">Pull Request Queue</h3>
<div id="Loading">Loading... This may take a few moments if you have many repositories.</div>
<div id="PullResultContainer">
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Home/LoadPullRequestData")',
                data: {
                    param: ""
                },
                success: function(result) {
                    $("#PullResultContainer").html(result);
                    $('#Loading').hide();
                }
            });
        });
    </script>
}